/* https://fonts.google.com/specimen/Outfit */
@import url('https://fonts.googleapis.com/css?family=Outfit:400,700');

:root {
  --White: hsl(0, 0%, 100%);
  --LightGray: hsl(212, 45%, 89%);
  --GrayishBlue: hsl(220, 15%, 55%);
  --DarkBlue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--LightGray);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 320px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 280px;
  padding: 15px;
  background-color: var(--White);
  border-radius: 16px;
}

picture {
  width: 100%;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  color: var(--DarkBlue);
}

p {
  font-size: 1.5rem;
  color: var(--GrayishBlue);
  text-align: center;
}