@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;700&display=swap');

#root {
  /* Primary */
  --Orange: hsl(25, 97%, 53%);
  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  --MediumGrey: hsl(216, 12%, 54%);
  --DarkBlue: hsl(213, 19%, 18%);
  --LightDarkBlue: hsl(216, 12%, 24%);
  --VeryDarkBlue: hsl(216, 12%, 8%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Overpass', sans-serif;
}